<!-- mini_fb/templates/mini_fb/show_all_profiles.html -->
{% extends 'mini_fb/base.html' %}

{% block content %}
<div class="fb_table">
    <h1>All Profiles</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>City</th>
            <th>Email</th>
            <th>Profile Image</th>
        </tr>
        {% for profile in profiles %}
        <tr>
            <td>
                <a href="{% url 'show_profile' profile.pk %}">
                    {{ profile.firstname }} {{ profile.lastname }}
                </a>
            </td>
            <td>{{ profile.city }}</td>
            <td>{{ profile.email }}</td>
            <td>
                <a href="{% url 'show_profile' profile.pk %}">
                    <img src="{{ profile.image_url }}" alt="Profile Image" width="100">
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
