body {
    font-family: 'Georgia', serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
    text-align: center; 
}

h1 {
    font-size: 2.5em;
    color: #800020;
    margin-bottom: 20px;
}

a {
    color: #b00e23;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header {
    background-color: #800020;
    color: white;
    padding: 20px 0;
    text-align: center;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 2.2em;
    letter-spacing: 1.5px;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
    background-color: #b00e23;
    margin: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #f9f9f9;
    color: #800020;
    border-radius: 4px;
}

.content {
    width: 80%;
    margin: 40px auto;
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

form {
    margin: 20px 0;
}

label {
    display: inline-block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
}

input[type="date"], select {
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

fieldset {
    border: 1px solid #ddd;
    padding: 10px;
    margin-top: 10px;
}

legend {
    font-weight: bold;
    color: #800020;
}

button {
    background-color: #b00e23;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #800020;
}

table {
    margin: 0 auto; 
    border-collapse: collapse;
    width: 90%; 
}

th, td {
    text-align: center;
    padding: 15px 30px;  
    font-size: 1.2em;  
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #b00e23;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
}

td a {
    color: #800020;
    font-weight: bold;
}

td a:hover {
    color: #b00e23;
}


footer {
    text-align: center;
    padding: 20px;
    background-color: #800020;
    color: white;
    margin-top: 40px;
    font-size: 0.9em;
}
